@media only screen and (max-width: 568px) {
    .cards{
            flex-wrap: wrap;
        padding: 0px;
    }
    .card-item{
        width: 150px;
        margin-bottom: 20px;
        font-size: 10px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 768px){
    .cards{
        flex-wrap: wrap;
        padding: 0px;
    }
    .card-item{
        margin-bottom: 20px;
        margin-right: 10px;
    }

}